<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Trivia My Little Pony</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<h2>Pregunta {{ numero }} de {{ total }}</h2>

<h3>{{ pregunta }}</h3>

<form method="POST">

    {% for opcion in opciones %}
        <label>
            <input type="radio" name="respuesta" value="{{ opcion }}" required>
            {{ opcion }}
        </label>
        <br>
    {% endfor %}

    <br>
    <button type="submit">Responder</button>
</form>

</body>
</html>
